<!DOCTYPE html>
<html>
<head>
    <title>AI Phishing Detector</title>
</head>
<body style="font-family: Arial; text-align:center; margin-top:40px;">

    <h2>AI-Based Phishing Email Detection</h2>

    <form method="POST">
        <textarea name="email_text" rows="10" cols="70"
        placeholder="Paste email text here..."></textarea><br><br>

        <button type="submit">Analyze Email</button>
    </form>

    {% if result %}
        <h3>{{ result }}</h3>
        <h4>Confidence: {{ confidence }}%</h4>
        <h4>Risk Level: {{ risk_level }}</h4>
    {% endif %}

</body>
</html>
